<!DOCTYPE html>
<html lang="en">
	<head>
		{{ include('partials/title-meta.html.twig', {title: 'Register & Signup'}) }}
		{{ include('partials/head-css.html.twig') }}
	</head>

	<body class="authentication-bg authentication-bg-pattern">
		<div class="account-pages mt-2 mb-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8 col-lg-6 col-xl-4">
						<div class="text-center">
							<a href="index">
								<img src="/images/logo-dark.png" alt="app_logo" height="140" class="mx-auto">
							</a>
						</div>
						<div class="card mt-2">
							<div class="card-body p-4">
								<div class="text-center mb-4">
									<h4 class="text-uppercase mt-0">Register</h4>
								</div>

								{% for flash_error in app.flashes('verify_email_error') %}
									<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
								{% endfor %}

								{{ form_start(registrationForm, {'attr': {'action': '#', 'novalidate': 'novalidate'}}) }}

								<div class="mb-3">
									<label for="{{ registrationForm.nom.vars.id }}" class="form-label">Full Name</label>
									{{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
									{% if form_errors(registrationForm.nom) %}
										<div class="text-danger">{{ form_errors(registrationForm.nom) }}</div>
									{% endif %}
								</div>

								<div class="mb-3">
									<label for="{{ registrationForm.email.vars.id }}" class="form-label">Email address</label>
									{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
									{% if form_errors(registrationForm.email) %}
										<div class="text-danger">{{ form_errors(registrationForm.email) }}</div>
									{% endif %}
								</div>

								<div class="mb-3">
									<label for="{{ registrationForm.plainPassword.vars.id }}" class="form-label">Password</label>
									{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
									{% if form_errors(registrationForm.plainPassword) %}
										<div class="text-danger">{{ form_errors(registrationForm.plainPassword) }}</div>
									{% endif %}
								</div>

								<div class="mb-3">
									<div class="form-check">
										{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
										<label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">I accept
											<a href="javascript: void(0);" class="text-dark">Terms and Conditions</a>
										</label>
										{% if form_errors(registrationForm.agreeTerms) %}
											<div class="text-danger">{{ form_errors(registrationForm.agreeTerms) }}</div>
										{% endif %}
									</div>
								</div>

								<div class="mb-3 text-center d-grid">
									<button class="btn btn-primary" type="submit">Sign Up</button>
								</div>

								{{ form_end(registrationForm) }}

							</div>
							<!-- end card-body -->
						</div>
						<!-- end card -->

						<div class="row mt-3">
							<div class="col-12 text-center">
								<p class="text-muted">Already have account?
									<a href="auth-login" class="text-dark ms-1">
										<b>Sign In</b>
									</a>
								</p>
							</div>
							<!-- end col -->
						</div>
						<!-- end row -->
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end page -->

		{{ include('partials/vendor.html.twig') }}

		<!-- App js -->
		<script src="/js/app.min.js"></script>
	</body>
</html>
