<!-- single-job-content -->
<div class="single-job-items mb-30">
    <div class="job-items">
        <div class="company-img">
            <a href="{{ path('app_front_show', {'id': offre.id}) }}"><img src="{{ asset('img-front/icon/job-list1.png') }}" alt=""></a>
        </div>
        <div class="job-tittle job-tittle2">
            <a href="{{ path('app_front_show', {'id': offre.id}) }}">
                <h4>{{ offre.poste }}</h4>
            </a>
            <ul>
                <li><i class="fas fa-briefcase"></i> {{ offre.modeTravail }}</li>
                <li><i class="fas fa-map-marker-alt"></i> {{ offre.localisation }}</li>
                <li><i class="fas fa-users"></i> {{ offre.nbPostes }}</li>
            </ul>
        </div>
    </div>
    <div class="items-link items-link2 f-right">
        <a href="{{ path('app_front_show', {'id': offre.id}) }}">Voir plus</a>
        <span>{{ offre.getTimeAgo() }}</span>
    </div>
</div>
